<%- include('partials/header') -%>


  <div class="container mx-auto">
 <nav class="relative container mx-auto p-6">
    <div class="flex items-center justify-between">
    <div class="w-12">
      
        <img src="/imgs/logo.svg" alt="">
      </div>
      <div class="hidden md:flex space-x-6 font-bold">
        <a href="/login" class="text-main hover:text-black">LOGIN</a>
        <a href="/signup" class="text-main hover:text-black">SIGNUP</a>
      </div>
    </div>
   </nav>
<section class="container flex items-center justify-center min-h-screen mx-auto">

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
       <% for(var i=0; i<posts.length; i++) {%>
    <div class="rounded bg-white border-gray-200 shadow-md overflow-hidden">
      <div class="rounded-xl overflow-hidden">
        <a href="/post/<%= posts[i]._id%>">
          <img class="h-32 sm:h-48 w-full object-cover" src="<%= posts[i].image%>">
          <div class="m-4">
            <span class="font-bold"><%= posts[i].title%></span>
            <h3 class="font-bold mt-2">Ingredients </h3>
            <span class="block text-gray-500 text-sm"> <%= posts[i].ingredients%></span>
          </div>
        </a>
      </div>


  </div>
  <% } %>
</div>
</section>

  </div>  
<%- include('partials/footer') -%>